.podtitleheadertest {
    padding: 40px;
    margin-top: -70px;
}

.poddescriptioncontainer{
    padding: 60px;
}

#iss-container{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

#map {
    height: 800px;
    width: 800px;
    /* align-items: center; */
}

p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}